In [6]:
#Importing Libraries
# Pandas,Numpy, Matplotlib, Seaborn, Json, request
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import json
import requests
import random

## Reading data from local csv file
Dataset Source : https://www.kaggle.com/tmdb/tmdb-movie-metadata

In [7]:
#Importing CSV files
#TMDB dataset source : https://www.kaggle.com/tmdb/tmdb-movie-metadata


#this file contains TMDB movies data
df_movies=pd.read_csv('tmdb_5000_movies.csv')

#this file contains TMDB movies Credit data
df_credits=pd.read_csv('tmdb_5000_credits.csv')

#df_movies.info()
#df_credits.info()

In [8]:
df_movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [9]:
#Merging Movies dataframe & Credits dataframe on Movie_id column
df_movies = df_movies.merge(df_credits, left_on='id', right_on='movie_id')
df_movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,movie_id,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [10]:
#Dropping duplicates
df_movies.drop_duplicates(inplace=True)
#Checking duplicates
df_movies.duplicated().sum()

0

In [12]:
#Checking null values
df_movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title_x                    0
vote_average               0
vote_count                 0
movie_id                   0
title_y                    0
cast                       0
crew                       0
dtype: int64

In [13]:
#filling 'tagline' and 'overview' column NULL values with specific text
df_movies.tagline.fillna('unspecified tagline',inplace=True)
df_movies.overview.fillna('unspecified overview',inplace=True)

In [ ]:
#Droping 'homepage column'
df_movies.drop('homepage', inplace=True, axis=1)

In [ ]:
#Dropping all remaining null value containing rows and all duplicate rows
df_movies.dropna(inplace=True)

In [ ]:
#Checking null values
df_movies.isnull().sum()

#df_movies = df_movies.reset_index(drop=True)

In [ ]:
#checking 0 budget and revenue
# Checking for an zero values in the budget and revenue columns

print("Rows With Zero Values In The Budget Column:",df_movies[(df_movies['budget']==0)].shape[0])
print("Rows With Zero Values In The Revenue Column:",df_movies[(df_movies['revenue']==0)].shape[0])

In [ ]:
#zero budget
#Using loc to filter rows
zero_budget = df_movies.loc[df_movies['budget']==0,:]
zero_budget.head(3)

In [ ]:
#zero Revenue
#Using loc to filter rows
zero_revenue = df_movies.loc[df_movies['revenue']==0,:]
zero_revenue.head(3)